$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

$font-size-base: 16px;
$line-height-base: 26px;

$font-size-sm: 12px;
$line-height-sm: 18px;

$font-size-md: 14px;
$line-height-md: 24px;

$btn-border-radius: 2px;
$btn-font-size: 1rem;
$btn-sm-font-size: 0.75rem;
$btn-primary-background-color: #111b47;
$btn-primary-border-color: #111b47;
$btn-primary-color: #fff;
$btn-secondary-color: #454e54;

$btn-padding-x: 16px;
$btn-padding-y: 4px;
$btn-border-width: 2px;

$menu-list-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$menu-list-border-radius: 4px;
$menu-list-background: #fff;
$menu-link-color: #505f98;
$menu-link-font-size: 4rem;

$logo-font-size: 1.625rem;
$logo-color: #37447e;
